
body{

	background-color: black;
	position: absolute;

}
 canvas{

   display: block;
	 top: 200px;
	 left: 440px;
   background: url("RESOURCES/map11.png") no-repeat;
   background-size: cover;
   position: absolute;

 }

nav{
	margin: auto;
  display: block;
  position: absolute;
	left: 100px;
	top: 200px;
}

.xx{
	font-size: 100px;
	color: rgb(22,154,98);
}

#timer{
	font-size: 100px;
	color: rgb(22,154,98);
}
