
body{

	background-color: black;
	position: absolute;

}
 canvas{

	 border: 3px solid #fff;
   display: block;
	 top: 180px;
	 left: 480px;
   background: url("RESOURCES/MS4Mission1.png") no-repeat;
   background-size: cover;
   position: absolute;

 }

.nav1{



}
