html{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family:"Press Start 2P";
}

canvas{

  border: 3px solid #000;
  margin: auto;
  display: block;
  top: 0;
  bottom: 0;
  left: 45%;
  right: 0;
  background: url("../RESOURCES/MS4Mission1.png") no-repeat;
  background-size: cover;
  position: absolute;
}

body{


  display: block;
  background: url("../NIRVANA/RESOURCES/Imagem1.png") no-repeat;
  background-size: 100vw 100vh;
  height: auto;
  overflow: hidden;

}

.imagens{

	width: 100vw;
	height: 100vh;
	margin-left: 55%;
	margin-top: 15%;
}

#obs1{
	margin-top: 140px;
	position: absolute;
}

#obs2{
	position:absolute;
	margin-top:120px;
	margin-left: 230px;
}

#obs3{
	position:absolute;
	margin-top: 60px;
	margin-left: 480px;
}

#obsTitle{
	font-size: 25px;
}

#wrapperX1{
	margin-left: 40%;
	margin-top: 20%;
}

#loadGameTitle{
	font-size: 25px;
}

.scoreboard{
	width: 1000px;
	height: 1000px;
	margin-left: 40%;
	margin-top: 13%;
}

.modal {
	 display: none;
	 position: fixed;
	 z-index: 1;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 overflow: auto;
	 background-color: rgb(0,0,0);
	 background-color: rgba(0,0,0,0.4);
}

.modal-content {
	 background-color: #fefefe;
	 margin: 15% auto;
	 padding: 20px;
	 border: 1px solid #888;
	 width: 80%;
}

.close {
	 color: #aaa;
	 float: right;
	 font-size: 28px;
	 font-weight: bold;
}

.close:hover,.close:focus {
	 color: black;
	 text-decoration: none;
	 cursor: pointer;
}

.keyboard{
	margin: auto;
  display: block;
  position: absolute;
	width: 300px;
	height: 200px;
	margin-left: 28%;
	margin-top: 12%;
}

.chooseChar{

	margin: auto;
  display: block;
  position: absolute;
	width: 1000px;
	margin-left: 40%;
	margin-top: 18%;
}

.slidecontainerV{
	margin-top: 40%;
	margin-left: 42%;

}

 .slidecontainerF{
	 margin-top: 63%;
	 margin-left:65%;
 }

#myRangeV,#myRangeF{
	width: 250px;
	height: 15px;
	border-radius: 5px;

}

#myRangeV::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #44C19A;
    cursor: pointer;
}

#myRangeV::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #44C19A;
    cursor: pointer;
}

#myRangeF::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #44C19A;
    cursor: pointer;
}

#myRangeF::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #44C19A;
    cursor: pointer;
}

#rangeval{
	font-size: 20px;
	position: absolute;
	margin-top: 12%;
	margin-left: 0%;
}

#rangevalf{
	font-size: 20px;
	position: absolute;
	margin-top: 1%;
	margin-left: 90%;
}

#modalEvent{
	font-size: 20px;
	margin-left: 45%;
	animation: neon4 1.5s ease-in-out infinite alternate;

}

#volume{
	font-size: 45px;
	margin: auto;
  display: block;
  position: absolute;
	margin-left: 40%;
	margin-top: 18%;
}

#FX{
	font-size: 45px;
	width: 300px;
	margin: auto;
  display: block;
  position: absolute;
	margin-left: 65%;
	margin-top: 18%;
}

#textSound{
	margin: auto;
  display: block;
  position: absolute;
	left: 200px;

}

#som{
	margin: auto;
  display: block;
  position: absolute;
	left: 250px;
	top: 50px;
}

#textSoundfx{
	width: 800px;
	margin: auto;
  display: block;
  position: absolute;
	left: 150px;

}

#somfx{
	margin: auto;
  display: block;
  position: absolute;
	left: 250px;
	top: 50px;
}

#marco {
	border: 2px solid #7f4430;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#marco:hover {
  box-shadow: 0 14px 28px #7f4430, 0 10px 10px rgba(0,0,0,0.22);
}

#fio {
	border: 2px solid #7f4430;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#fio:hover {
  box-shadow: 0 14px 28px #7f4430, 0 10px 10px rgba(0,0,0,0.22);
}

#trevor {
	border: 2px solid #7f4430;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#trevor:hover {
  box-shadow: 0 14px 28px #7f4430, 0 10px 10px rgba(0,0,0,0.22);
}

#nadia {
	border: 2px solid #7f4430;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#nadia:hover {
  box-shadow: 0 14px 28px #7f4430, 0 10px 10px rgba(0,0,0,0.22);
}

#uparrow{
	margin: auto;
  display: block;
  position: absolute;
	margin-left: 30%;
}

#downarrow{
	margin: auto;
  display: block;
  position: absolute;
	margin-top: 30%;
	margin-left: 30%;
}

#leftarrow{
	margin: auto;
  display: block;
  position: absolute;
	margin-top: 30%;
	margin-left: 0%;
}

#rightarrow{
	margin: auto;
  display: block;
  position: absolute;
	margin-top: 30%;
	margin-left: 60%;
}

#akey{
	margin: auto;
  display: block;
  position: absolute;
	margin-top: 60%;
	margin-left: 0%;
}

#dkey{
	margin: auto;
  display: block;
  position: absolute;
	margin-top: 60%;
	margin-left: 60%;
}

#space{
	margin: auto;
  display: block;
  position: absolute;
	margin-top: 90%;
	margin-left: 0%;
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

#containerSS {
  color: #c3ae93;
  font-size: 60px;
  letter-spacing: 5px;
  top: 1%;
  left: 5%;
  position: absolute;
  text-transform: uppercase;
  animation: move linear 2000ms infinite;
}

#container {
  color: #c3ae93;
  font-size: 80px;
  letter-spacing: 5px;
  top: 1%;
  left: 5%;
  position: absolute;
  text-transform: uppercase;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #668878,
      3px -3px 0 #668878,
      2px -2px 0 #668878,
      1px -1px 0 #668878,
      -4px 4px 0 #7f4430,
      -3px 3px 0 #7f4430,
      -2px 2px 0 #7f4430,
      -1px 1px 0 #7f4430
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #7f4430,
      -3px -3px 0 #7f4430,
      -2px -2px 0 #7f4430,
      -1px -1px 0 #7f4430,
      4px 4px 0 #668878,
      3px 3px 0 #668878,
      2px 2px 0 #668878,
      1px 1px 0 #668878
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #668878,
      -3px 3px 0 #668878,
      -2px 2px 0 #668878,
      -1px 1px 0 #668878,
      4px -4px 0 #7f4430,
      3px -3px 0 #7f4430,
      2px -2px 0 #7f4430,
      1px -1px 0 #7f4430
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #7f4430,
      3px 3px 0 #7f4430,
      2px 2px 0 #7f4430,
      1px 1px 0 #7f4430,
      -4px -4px 0 #668878,
      -3px -3px 0 #668878,
      -2px -2px 0 #668878,
      -1px -1px 0 #668878
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #668878,
      3px -3px 0 #668878,
      2px -2px 0 #668878,
      1px -1px 0 #668878,
      -4px 4px 0 #7f4430,
      -3px 3px 0 #7f4430,
      -2px 2px 0 #7f4430,
      -1px 1px 0 #7f4430
    ;
  }
}

sup{
  position: absolute;
  top: 95%;
  left: 93%;
}

.button_container {
	position: absolute;
  left: 0%;
  right: 0;
  top: 35%;
}

.nav1{

  position: absolute;
  left: 5%;
  top:40%;

}

button:hover{
  box-shadow: 0 0 20px #000;

  width: 400px;
  height: 90px;
  font-size: 30px;
  transition: all .3s ease-in-out;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

.description, .link {
  font-family: "Press Start 2P";
  text-align: center;
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}

.btn {
  border: 1px solid #000;
  width: 350px;
  height: 65px;
  -webkit-transform: skewY(-4deg); -moz-transform: skewY(-4deg); -o-transform: skewY(-4deg);
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #c3ae93;
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(127,68,48,0.8);
  padding: 17px 60px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative;
  text-align: center;
  z-index: 5;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  height: 490%;
  width: 140%;
  background: #668878;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {

  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

#background-wrap {
  bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top:0;
	z-index: -1;
}

/* KEYFRAMES */

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	animation: animateCloud 165s linear infinite;
	transform: scale(0.65);
}

.x2 {

	animation: animateCloud 140s linear infinite;

	transform: scale(0.3);
}

.x3 {

	animation: animateCloud 80s linear infinite;

	transform: scale(1);
}

.x4 {

	animation: animateCloud 100s linear infinite;

	transform: scale(1);
}


/* OBJECTS */


.cloud:after {

	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {

	border-radius: 200px;

	width: 180px;
	height: 300px;
	right: 50px;
	top: -90px;
}


@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #c3ae93, 0 0 70px #c3ae93, 0 0 80px #c3ae93, 0 0 100px #c3ae93, 0 0 150px #c3ae93;
  }
  to {
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #c3ae93, 0 0 35px #c3ae93, 0 0 40px #c3ae93, 0 0 50px #c3ae93, 0 0 75px #c3ae93;
  }
}


#wrapper {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  margin-left: 25%;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  animation: 180s credits linear infinite;
}

#movie {
  margin-bottom: 50px;
  font-size: 50px;
}

#job {
  margin-bottom: 5px;
  font-size: 18px;
}

#name {
  margin-bottom: 50px;
  font-size: 35px;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}
